<!DOCTYPE html>
<html lang="en">
	<head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
        <title>ANIME</title>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="/css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header class="hero">
            <nav class="navbar navbar-expand-lg">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                  <a class="navbar-brand" href="#">AniLab</a>
                  <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                      <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/users/login">Login</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/users/register">Sign Up</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/dashboard">WatchList</a>
                    </li>
                  </ul>
                 
                </div>
              </nav>
            <div class="box">
                <h1>Anime to explore</h1>
                <p class="tag-line">search for anime + add them to your WatchList</p>
                <form action="/myaction" method="POST" class="form-inline search-box form-row">
                    <input required name="name" class="form-control search mr-sm-2" type="search" placeholder="Search anime..." aria-label="Search">
                    <button class="btn search-btn my-2 my-sm-0" type="submit">Search</button>
                  </form>
            </div>
        </header>
          
        <section class="trending-section">
          <h1 class="trend-head">Trending Anime</h1>
          <div class="anime-section grid-container">
            <% data.forEach(element => {%>
              <% 
              let title = element.attributes.canonicalTitle
              let id = element.id;
              %>
              <div class="card-container">
                <div class="cellphone-container">    
                    <div class="anime">       
                      <img src="<%=element.attributes.posterImage.original%>" class="anime-img" />
                      <div class="text-anime-cont">
                        <div class="mrgridd">
                          <div class="columnumn1">
                            <h1><%=title%></h1>
                            <ul class="anime-gen">
                              <li>Episodes - <%=element.attributes.episodeCount%> /</li>
                              <li>Age Rating - <%=element.attributes.ageRatingGuide%>  </li>
                            </ul>
                          </div>
                        </div>
                        <div class="mrgridd actionrow">
                          <a target="_blank" href="https://www.youtube.com/watch?v=<%= element.attributes.youtubeVideoId %> "><div class="column2"><div class="watch-btn"><h3>WATCH TRAILER</h3></div></a>
                          </div>
                          <div class="column2"><div onclick="animeSelected('<%= id %>')" class="watch-btn-2"><h3>MORE DETAILS</h3></div>
                        </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>                      
            <%})%>
        </div>
          </div>
          
  </section>


        <script src="/js/index.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>